# login.html
{% extends "main/base.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
     <form method="post" class="from-group">
	{% csrf_token %}
	{{form|crispy}}
	<p>Don't have an accoount? Create one
		<a href="/register">
			here
			<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
		</a></p>
	<button type="submit" class="btn btn-success">
		<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
		Login
	</button>

    </form>
{% endblock %}